$color-primary: #1E4C78;
$color-secondary: #1E4C78;
$color-white: #f2f0f1;
$color-success: #3c7d3c;
$color-warning: #e69b05;
$color-info: #3c607d;
$color-danger: #e03838;
$color-shadow: #25262c;
$xs-breakpoint: 575px;
$sm-breakpoint: 767px;
$md-breakpoint: 991px;